<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education4all.decimals">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.education4all.decimals.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/short_app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.education4all.decimals.TaskActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_task"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.education4all.decimals.SettingsMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings_simple"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.education4all.decimals.MainActivity" />
        </activity>

        <activity
            android:name="com.education4all.decimals.ComplexityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_complexity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.education4all.decimals.SettingsMainActivity" />
        </activity>

        <activity
            android:name="com.education4all.decimals.StatiscticsActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_statisctics"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.education4all.decimals.MainActivity" />
        </activity>

        <activity
            android:name="com.education4all.decimals.StatTourActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_stat_tour"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.education4all.decimals.StatiscticsActivity" />
        </activity>

        <!--<activity-->
            <!--android:name=".wheel_picker"-->
            <!--android:label="@string/title_activity_wheel_picker">-->
        <!--</activity>-->

        <activity
            android:name="com.education4all.decimals.AuthorsActivity"
            android:label="@string/title_activity_authors"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.education4all.decimals.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.education4all.decimals.MainActivity" />
        </activity>


        <activity android:name="com.education4all.decimals.WebActivity"
            android:label="Поддержать"
            android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.education4all.decimals.AuthorsActivity" />
        </activity>
    </application>
</manifest>